#main-container {
    display: flex;
    flex-direction: row;
    width:  800px;
    height: 800px;
    margin: auto;

}


.column,
.row {
    height: auto;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;

}
.column {
    border: 1px solid lightgray;
}


.trail{
    background-color: black;
}

button{
    width: 100px;
    height: 60px;
}


